/*
    Resetar o CSS
*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.container{
    background: rgba(44, 44, 45, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding-left: 55px;
    padding-right: 75px;
}

.menu{
    margin-left: 120px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 16px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#alinhaTitulo{
    display: flex;
    align-items: center;
}

#alinhamento{
    display: flex;
    align-items: center;  
} 

#espaco{
    width: 20px;
}

#linhaHorizontal{
    height: 5px;
    width: 100px;
    border-bottom: 1px solid #FFFFFF;
}

.iconeFecha{
    display: none;
}

.abas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.lista{
    list-style: none;
    color: #FFFFFF;
    font-size: 18px;
    font-family: monospace;
}

#negrito{
    font-weight: bold;
}

.linhaVertical{
    border-right: 1px solid #FFFFFF;
    height: 38px;
}

.tamanho{
    width: 85px;
}

.principal{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
}

.titulo{
    font-size: 32px;
    font-family: monospace;
    color: #FFFFFF;
}

.paragrafo{
    font-family: monospace;
    font-size: 18px;
    color: #FFFFFF;
    text-align: right;
}

.botao{
    background-color: rgba(44, 44, 45, 0.9);
    font-family: monospace;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    width: 248px;
    height: 45px;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.61);
    margin-left: 150px;
}

.botao:hover{
    background-color: rgba(85, 85, 87, 0.9);
}

img{
    margin: 26px;
}

.posicionamentoBolinhas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bolinhaCheia{
    background-color: #FFFFFF;
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
}

.bolinhasVazias{
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
}

/*Responsividade mobile da terceira página, tela aberta*/

@media only screen and (max-width: 660px) {

    .body{
        background-position: center;
    }

    .container{
        width: 320px;
        height: 1200px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .menu{
        margin-left: 0px;
        margin-right: 0px;
    }

    .logo{
        padding: 0px;
        width: 400px;
        display: flex;
        justify-content: space-between;
    }

    #alinhaTitulo{
        display: flex;
        align-items: start;
        margin: 20px;
    }

    .tituloPagina{
        margin: 16px;
        height: 36px;
        width: 124px;
        font-size: 26px;
    }

    #espaco{
        display: none;
    }

    #linhaHorizontal{
        display: none;
    }

    .abas{
        display: none;
    }

    .barrasMenu{
        margin: 12px;
    }

    .barraMenu{
        margin: 6px;
        height: 3px;
        width: 28px;
        background-color: #FFFFFF;
    }

    .linhaVazia{
        display: none;
    }

    img{
        display: none;
    }

    .posicionamentoBolinhas{
        display: none;
    }

    .principal{
        margin-left: 0px;
    }

    .titulo{
        margin-right: 20px;
        text-align: right;
    }

    .texto{
        margin: 18px;
    }

    .paragrafo{
        font-size: 20px;
    }

    .quebraDeLinha{
        display: none;
    }

    .botao{
        margin-top: 20px;
        margin-left: 20px;
        width: 280px;
    }
}

/*Responsividade mobile da terceira página, menu aberto*/

@media only screen and (max-width: 318px) {

    .container{
        width: 318px;
        background-color: black;
    }

    .menu{
        display: block;
    }

    .barraMenu{
        display: none;
    }

    .iconeFecha{
        display: block;
        font-size: 40px;
        margin-right: 62px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;
    }

    /*Aqui a linha vertical fica horizontal*/

    .linhaVertical{
        border-bottom: 1px solid white;
        display: block;
        height: 1px;
        width: 170px;
        border-right: 0px;
        margin-top: 21px;
        margin-bottom: 22px;
    }

    .abas{
        display: block;
        font-size: 25px;
    }

    .lista{
        font-weight: bold;
        font-size: 22px;
    }

    .titulo{
        display: none;
    }

    .texto{
        display: none;
    }

    .botao{
        display: none;
    }

}