*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../assets/backgroundSecond.png");
    background-size: cover;
    padding-left: 85px;
    padding-right: 105px;
}

.menu{
    margin-left: 120px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 16px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#alinhaTitulo{
    display: flex;
    align-items: center;
}

#alinhamento{
    display: flex;
    align-items: center;  
} 

#espaco{
    width: 20px;
}

#linhaHorizontal{
    height: 5px;
    width: 100px;
    border-bottom: 1px solid #FFFFFF;
}

.abas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.lista{
    list-style: none;
    color: #FFFFFF;
    font-size: 18px;
    font-family: monospace;
}

#negrito{
    font-weight: bold;
}

.linhaVertical{
    border-right: 1px solid #FFFFFF;
    height: 38px;
}

.tamanho{
    width: 85px;
}

.alinhaPesquisa{
    display: flex;
    justify-content: flex-end;
}

.caixaPesquisa{
    margin: 15px;
    width: 208px;
    height: 38px;
    border-radius: 25px;
    border: 1px solid gray;
    text-indent: 18px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 5px 1px rgb(0, 0, 0, 0.432);
}

.caixaSelecao{
    margin: 15px;
    width: 208px;
    height: 38px;
    border-radius: 25px;
    border: 1px solid gray;
    text-indent: 18px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.432);
}

.principalCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    background-color: #FFFFFF;
    width: 252px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 44px;
}

.pokemonImagem{
    z-index: 0;
    height: 128px;
    width: 128px;
}

.cardCabecalhoBulbasaur{
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #32CD32;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: end;
    color: #FFFFFF;
    padding-right: 8px;
    padding-bottom: 2px;
}

.nomePokemonBulbasaur{
    text-align: center;
    color: #32CD32;
    padding-bottom: 10px;
}

.cardRodapeBulbasaur{
    height: 14px;
    background-color: #32CD32;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.cardCabecalhoSquirtle{
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #1E90FF;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: end;
    color: #FFFFFF;
    padding-right: 8px;
    padding-bottom: 2px;
}

.nomePokemonSquirtle{
    text-align: center;
    color: #1E90FF;
    padding-bottom: 10px;
}

.cardRodapeSquirtle{
    height: 14px;
    background-color: #1E90FF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.cardCabecalhoCharmander{
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #FF4500;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: end;
    color: #FFFFFF;
    padding-right: 8px;
    padding-bottom: 2px;
}

.nomePokemonCharmander{
    text-align: center;
    color: #FF4500;
    padding-bottom: 10px;
}

.cardRodapeCharmander{
    height: 14px;
    background-color: #FF4500;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.cardCabecalhoCarterpie{
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #9ACD32;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: end;
    color: #FFFFFF;
    padding-right: 8px;
    padding-bottom: 2px;
}

.nomePokemonCarterpie{
    text-align: center;
    color: #9ACD32;
    padding-bottom: 10px;
}

.cardRodapeCarterpie{
    height: 14px;
    background-color: #9ACD32;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Terceira página*/

.organizacaoCentral{
    display: flex;
    justify-content: center;
}

.tituloPokemon{
    color: #FFFFFF;
    font-size: 52px;
}

.informacaoPokemon{
    color: #FFFFFF;
    width: 375px;
    height: 950x;
    border-radius: 15px;
    background-color:  #1f1f1f ;
}

.imagem{
    width: 395px;
    height: 385px;
}

.topo{
    padding: 28px;
    padding-bottom: 0px;
    border-bottom: 2px solid orange ;
}

.descricaoTitulo{
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 12px;
}

.descricao{
    margin-top: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.bordaTituloFooter{
    border-bottom: 2px solid orange ;
}

.alinhaStatus{
    display: flex;
    align-items: center;
}

.status{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px;
}

.barraDeStatus{
    border-radius: 20px;
    height: 20px;
    width: 295px;
    background-color: gray;
}

